@model SetLinksTelecom.DTO.DtoPersonMapping
@{
    ViewBag.Title = "PersonMapping";
}

<h2>Person Mapping</h2>


<div class="form-group">
    @Html.LabelFor(m => m.DesignationId, new { @class = "control-label" })
    @Html.DropDownListFor(m => m.DesignationId, new SelectList(Model.Designations, "Id", "Name"), "Select Designation", new { @class = "form-control", @onchange="clearPersonAndGrid()" })
    @Html.ValidationMessageFor(m => m.DesignationId)
</div>

@Html.HiddenFor(m => m.PersonId)
<div class="form-group">
    @Html.LabelFor(m => m.PersonName, new { @class = "control-label" })
    @Html.EditorFor(m => m.PersonName, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.PersonName)
</div>

<a class="btn btn-success" style="margin-bottom: 10px;" onclick="popUpForm('@Url.Action("PersonGrid", "Person")', 'with')"><i class="fa fa-plus"></i> Add Follower</a>

<table id="workersTable" class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Father Name</th>
        <th>Gender</th>
        <th>CNIC</th>
        <th>DOB</th>
        <th>Designation</th>
        <th></th>
    </tr>
    </thead>
</table>

<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />


@section scripts
{

    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>


    <script>
        var popUp, dataTable, followersDT;
        $(document).ready(function() {
            $('#PersonName').keypress(function(event) {
                //console.log($('#DesignationId').val());
                if ($('#DesignationId').val() !== '') {
                    var keycode = (event.keyCode ? event.keyCode : event.which);
                    if (keycode == '13') {
                        popUpForm('@Url.Action("PersonGrid", "Person")', "Person");
                    } else {
                        event.preventDefault();
                    }
                    return false;
                } else {
                    $.notify(
                        "Select Designation First",
                        {
                            position: "top center",
                            className: "error"
                        }
                    );
                }
            });

            followersDT = $('#workersTable').DataTable({
                "data": [],
                "columns": [
                    { "data": "Name" },
                    { "data": "FatherName" },
                    { "data": "Gender" },
                    { "data": "CNIC" },
                    { "data": "DOB" },
                    { "data": "Designation" },
                    {
                        "data": "PersonId",
                        "render": function(data) {
                            return "<a class='btn btn-danger btn-sm' style='margin-left:5px;' onClick=Delete(" +
                                data +
                                ")><i class='fa fa-trash'></i> Delete</a>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "150px"
                    }
                ],
                rowCallback: function(row, data) {},
                info: false,
                retrieve: true,
                "order": [[1, 'asc']],
                "language": {
                    "emptyTable": "No data found, Please Click on <b>Add New</b> button",
                    "processing": "Processing... Please wait"
                }
            });

        });

        function loadWorkers(params) {
            var url = '@Url.Action("GetData", "Person")' + params;
            //console.log(url);
            $.ajax({
                url: url,
                type: "get"
            }).done(function(result) {
                //console.log(result);
                //console.log(result.data);
                followersDT.clear().draw();
                followersDT.rows.add(result.data).draw();
            }).fail(function(jqXHR, textStatus, errorThrown) {
                // needs to implement if it fails
                alert('Error in loading data');
            });
        }

        function Delete(data) {
            //console.log(data);
            if (confirm('Are you sure to remove this record')) {
                var url = '@Url.Action("RemoveBoss", "Person")?PersonId=' + data;
                $.ajax({
                    url: url,
                    type: "post"
                }).done(function(result) {
                    loadWorkers('?BossId=' + $('#PersonId').val());
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    // needs to implement if it fails
                    alert('Error in loading data');
                });
            }
        }

        function popUpForm(url, type) {
            event.preventDefault();
            //url = url.replace('_with_', $('#PersonId').val());
            //console.log(url);
            //console.log(type);
            var formDiv = $('<div class="popDiv" />');
            $.get(url).done(function(response) {
                formDiv.html(response);

                popUp = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Select Items',
                    draggable: false,
                    width: $(window).width() - 50,
                    height: 600,
                    modal: true,
                    close: function() {
                        dataTable.destroy();
                        popUp.dialog('close');
                        $('.popDiv').remove();
                    }
                });
                //console.log('hi');
                if (type == 'Person') {

                    //DesignationId
                    loadPersonDialogContent('?DesignationId=' + $('#DesignationId').val());
                } else if (type == 'with') {
                    loadPersonDialogContent('?withoutBoss=' + $('#PersonId').val());
                }

            });
        }


        function loadPersonDialogContent(params) {
            var url = '@Url.Action("GetData", "Person")' + params;
            //console.log(url);
            //console.log(params);
            params = params.split('?')[1].split('=')[0];

            dataTable = $("#personTable").DataTable({
                "ajax": {
                    "url": url,
                    "type": "Get",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Name", "name": "Name" },
                    { "data": "FatherName", "name": "FatherName" },
                    { "data": "Gender", "name": "Gender" },
                    { "data": "CNIC", "name": "CNIC" },
                    { "data": "DOB", "name": "DOB" },
                    { "data": "Designation", "name": "Designation" }
                ],
                "language": {
                    "emptyTable": "No data found",
                    "processing": "Processing... Please wait"
                },
                keys: true
            });
            //console.log('hi1');
            //bind row event
            $('#personTable tbody').on('dblclick',
                'tr',
                function() {
                    if (params == 'DesignationId') {
                        var data = dataTable.row(this).data();
                        $('#PersonId').val(data['PersonId']);
                        $('#PersonName').val(data['Name']);
                        popUp.dialog('close');
                        //console.log($('#PersonId').val());
                        loadWorkers('?BossId=' + $('#PersonId').val());
                    } else if (params == 'withoutBoss') {
                        var data = dataTable.row(this).data();
                        assignBoss($('#PersonId').val(), data['PersonId']);
                        popUp.dialog('close');
                    }
                });
        }

        function clearPersonAndGrid() {
            $('#PersonId').val('');
            $('#PersonName').val('');
            followersDT.clear().draw();
        }


        function assignBoss(bossId, followerId) {
            var url = '@Url.Action("AssignBoss", "Person")?BossId=' + bossId + '&FollowerId=' + followerId;
            $.ajax({
                url: url,
                type: "post"
            }).done(function(result) {
                loadWorkers('?BossId=' + $('#PersonId').val());
            }).fail(function(jqXHR, textStatus, errorThrown) {
                // needs to implement if it fails
                alert('Error in loading data');
            });
        }


    </script>

}