@model SetLinksTelecom.DTO.DtoTangibleItemSale

@{
    Layout = null;
}

<td>
    @Html.HiddenFor(m => m.PurchaseId)
</td>
<td>
    @Html.DisplayFor(m => m.ItemCode, new { htmlAttributes = new { @class = "form-control  form-control-sm" } })
</td>
<td>
    @Html.EditorFor(m => m.ItemName, new { htmlAttributes = new { @class = "form-control  form-control-sm" } })
</td>
<td>
    @Html.EditorFor(m => m.Qty, new { htmlAttributes = new { @class = "form-control  form-control-sm" } })
</td>
<td>
    @Html.EditorFor(m => m.Rate, new { htmlAttributes = new { @class = "form-control  form-control-sm" } })
</td>
<td>
    @Html.EditorFor(m => m.SubTotal, new { htmlAttributes = new { @class = "form-control  form-control-sm" } })
</td>
<td>
    <a class='btn btn-danger btn-sm' onclick="removeItem(this)"><i class='fa fa-trash'></i></a>
</td>
